<!DOCTYPE html>
<!-- Go to https://github.com/agubelu/osu-healthbar-gen for the source code -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>osu! healthbar generator</title>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@agubelu">
    <meta name="twitter:title" content="osu! healthbar generator">
    <meta name="twitter:description" content="Online app that creates custom healthbars for osu!">
    <meta name="twitter:image" content="https://agube.lu/osulogo.png">
</head>

<body>
    <div id="app" class="container"></div>
    <% if (htmlWebpackPlugin.options.devServer) { %>
        <script src="/dist/manifest.js"></script>
        <script src="/dist/vendor.js"></script>
        <script src="/dist/app.js"></script>
    <% } %>
</body>

</html>