<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>osu! healthbar generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div id="app" class="container"></div>
    <% if (htmlWebpackPlugin.options.devServer) { %>
        <script src="/dist/manifest.js"></script>
        <script src="/dist/vendor.js"></script>
        <script src="/dist/app.js"></script>
    <% } %>
</body>

</html>