<!DOCTYPE html>
<!-- Go to https://github.com/agubelu/osu-healthbar-gen for the source code -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>osu! healthbar generator</title>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@agubelu">
    <meta name="twitter:title" content="osu! healthbar generator">
    <meta name="twitter:description" content="Online app that creates custom healthbars for osu!">
    <meta name="twitter:image" content="https://agube.lu/osulogo.png">

    <meta property="og:title" content="osu! healthbar generator">
    <meta property="og:description" content="Online app that creates custom healthbars for osu!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://agube.lu/generator">
    <meta property="og:image" content="https://agube.lu/osulogo.png">
</head>

<body>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-45596469-4', 'auto');
        ga('send', 'pageview');
    </script>
    <div id="app" class="container"></div>
    <% if (htmlWebpackPlugin.options.devServer) { %>
        <script src="/dist/build.js"></script>
    <% } %>
</body>

</html>